body {
  background-color: rgb(23, 63, 13);
  min-height: 100vh;
  margin: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.footer_tekst {
  background-color: #f4e5b6;
  width: 100%;
}
/* tekst */

@font-face {
  font-family: "urbanist";
  src: url(../fonts/urbanist-variablefont_wght-webfont.woff2-kopi);
}

h1 {
  text-align: center;
  margin: 50px;
  color: rgb(253, 255, 155);
  font-family: "urbanist";
}

/* burgermenu */

nav {
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  list-style: none;
  margin: 26px 0 0 0;
  padding: 0;
}

.menu li {
  margin-right: 100px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 20px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: start;
  color: rgb(253, 255, 155);
  font-size: 20px;
  margin-top: 10%;
  font-family: "urbanist";
}

.menu a:hover {
  color: rgb(73, 92, 68);
}

.burger {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 10px;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: rgb(253, 255, 155);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

/* responsiv burgermenu */
@media screen and (max-width: 800px) {
  nav {
    justify-content: start;
  }

  .grid_1-1-1_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgb(94, 114, 89);
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgb(79, 116, 70);
    z-index: 1;
    font-family: "urbanist";
  }

  nav.active .menu li {
    margin: 10px 15px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
