body {
  background-color: #aaba95;
  min-height: 100vh;
  margin: 0;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
main {
  margin-top: 170px;
}
.footer_tekst {
  background-color: #f4e5b6;
  width: 100%;
}
/* logo roterer på hover */
.logo img:hover {
  transform: rotate(-10deg);
  transition: all 0.3s ease-in-out 0s;
}

/* tekst */

@font-face {
  font-family: "urbanist";
  src: url(../fonts/urbanist-variablefont_wght-webfont.woff2-kopi);
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: #592e29;
  font-family: "urbanist";
}
h6 {
  text-align: center;
  color: #003e23;
  font-family: "urbanist";
  font-size: 50px;
  margin-top: 240px;
}
p {
  color: #003e23;
  font-family: "urbanist";
  line-height: 2;
}
/*menu*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 1%;
  position: relative;
}
.logo img {
  display: flex;
  padding-bottom: 5px;
  width: 100px;
  height: auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  position: relative;
  padding: 0;
  margin: 0;
  gap: 50px;
}
.menu a {
  color: rgb(23, 63, 13);
  font-size: 20px;
  font-family: "urbanist";
  text-decoration: none;
}
.menu a:hover {
  color: rgb(73, 92, 68);
}
.burger {
  display: none;
}
/* burgermenu */
.burger {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 10px;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: rgb(23, 63, 13);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.footer_logo_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  text-align: center;
}

.fa-solid,
.fa-brands {
  color: #003e23;
  font-size: 20px;
}

.footer_p {
  margin-left: 0%;
}

#widthm {
  max-width: 30ch;
}
.widthm {
  max-width: 30ch;
}

.footer_logo {
  margin: auto;
  width: 20%;
  height: auto;
}
footer img {
  margin: 0 0 -5px 0;
}
.color {
  width: 100%;
  background-color: #f4e5b6;
}
.footer_grid {
  margin: -3 !important;
}
/*
.menu {
  display: flex;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.menu a {
  display: block;
  padding: 20px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: start;
  color: rgb(23, 63, 13);
  font-size: 20px;
  margin-top: 10%;
  font-family: "urbanist";
}

.menu a:hover {
  color: rgb(73, 92, 68);
}

.burger {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 10px;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: rgb(23, 63, 13);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}
*/
/* responsiv burgermenu */
@media screen and (max-width: 800px) {
  /*nav {
    justify-content: start;
  }

  .grid_1-1-1_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }*/

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgb(94, 114, 89);
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgb(79, 116, 70);
    z-index: 1;
    font-family: "urbanist";
  }

  nav.active .menu li {
    margin: 10px 15px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
  .logo img {
    display: block;
    position: fixed;
    right: 10px;
    width: 70px;
    margin: 10px;
  }
}
