.forside_billede_1_1_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px;
  margin: 10px;
  align-items: center;
}

.mushroom_container {
  grid-column: 2 / span;
  display: flex;
  justify-content: flex;
}

.mushroom_1 {
  position: relative;
  max-width: 300px;
  height: auto;
  margin-top: -15px;
  top: 126px;
  left: 338px;
  z-index: -2;
}

.grass img {
  max-width: 60%;
  height: auto;
  display: block;
}

.forside_tekstbox {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.5em;
  background-color: #c7d3b7;
  padding: 10% 9%;
}

.forside_1_1_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 70px;
  margin: 100px;
}

.forside_1_1_1_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 70px;
  margin: 100px;
  align-items: center;
}

.index_recipes {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  margin: auto;
}

.index_recipes :hover {
  transform: scale(1.04);
}

.index_mushroom {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  margin: auto;
}

.index_mushroom :hover {
  transform: scale(1.04);
}

.index_wood {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  margin: auto;
}

.index_wood :hover {
  transform: scale(1.04);
}

/* link */
a {
  margin: auto;
}

@media screen and (max-width: 810px) {
  .mushroom_1 {
    max-width: 200px;
    height: auto;
    margin-top: 30px;
  }
}

@media screen and (min-width: 800px) {
  .mushroom_1 {
    max-width: 300px;
    height: auto;
    margin-top: -30px;
  }
}
