/************** produktliste **************/

.grid_produktliste {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(138, 163, 131);
}
.grid_produktliste img {
  max-width: 80%;
  margin: 50px;
}

.grid_produktliste article {
  display: flex;
  flex-direction: column;
}
