* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Produktliste */

.overskrift {
  margin-top: 15%;
  margin-bottom: 15%;
}

h2,
p {
  margin-top: 20px;
  text-align: center;
  font-family: "urbanist";
  font-size: 22px;
}

h1:after {
  background-color: #592e29;
  bottom: -20px;
  height: 1px;
  width: 40%;
  position: relative;
  content: "";
  display: block;
  left: 30%;
}

.grid_produktliste {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 4%;
  margin: 3% 8% 3% 8%;
}

.grid_produktliste article {
  display: flex;
  flex-direction: column;
}

.smallProduct {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.5em;
  padding: 10%;
  align-items: center;
  margin: 0px;
}

.smallProduct:hover {
  transform: scale(1.04);
  transition: all 0.5s;
}

.smallProduct h3 {
  margin: 10px;
  font-family: "urbanist";

  font-size: 15px;
}

.smallProduct p {
  font-family: "urbanist";
  font-size: 15px;
}

.footer_img {
  margin-top: 55%;
}

@media only screen and (min-width: 950px) {
  /* Produktliste */
  .grid_produktliste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin: 30px 7%;
  }

  .overskrift {
    margin-top: 7%;
    margin-bottom: 5%;
  }

  h2 {
    margin-top: 20px;
    text-align: center;

    font-family: "urbanist";
    font-size: 22px;
  }

  h1:after {
    background-color: #592e29;
    bottom: -20px;
    height: 1px;
    width: 40%;
    position: relative;
    content: "";
    display: block;
    left: 30%;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  section {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }

  .product-card {
    max-width: 380px;
    position: relative;
    box-shadow: 0 2px 5px #333;
    margin: 0 auto;
    background: #c7d3b7;
    border-radius: 10px;
  }

  .spacing {
    margin: 10px;
  }

  .product-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #fff;
    border-radius: 10px 10px 0 0;
  }

  .product-thumb img {
    max-width: 100%;
    max-height: 100%;
  }

  .product-details {
    padding: 15px 30px 10px 30px;
  }

  .product-category {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #003e23;
    margin-bottom: 18px;
    font-family: "urbanist";
  }

  .product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #003e23;
    text-decoration: none;
    transition: 0.3s;
  }

  .product-details h4 a:hover {
    color: #f52544;
  }

  .product-details p {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #003e23;
    margin-bottom: 18px;
  }

  .product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #003e23;
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  .product-bottom-details div {
    float: left;
    width: 50%;
  }

  .product-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #003e23;
    transition: 0.3s;
    font-size: 17px;
  }

  .product-links a:hover {
    color: #f52544;
  }

  .time.product_input,
  .servings.product_input {
    text-align: center;
    font-size: 14px;
  }

  .fa-solid {
    color: #003e23;
    font-size: 20px;
  }

  h4 {
    margin-bottom: 18px;
    color: #003e23;
  }
}

@media screen and (max-width: 700px) {
  .grid_produktliste {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin: 30px;
  }
}
